<% if @results.any? %>
  <h3>Search results (<%= @total_results %>):</h3>
  <ul>
  <% @results.each do |movie| %>
    <li><%= movie.name %> (<%= movie.rating_avg %>)</li>
  <% end %>
  </ul>

  <%= paginate @query %>
<% else %>
  Found no results :(
<% end %>